<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

<h1>Add A New Student</h1>

<form action="/confirmed-student" method="POST">
    <label>Enter First Name
        <input type="text" name="first">
    </label><br>
    
    <label>Enter Last Name
        <input type="text" name="last">
    </label><br>   

    <label>Enter GitHub username
        <input type="text" name="github">
    </label><br>
    <input type="submit" value="Add Student">
</form>

</body>
</html>